/* *************** GLOBAL RESET ******************************* */
/* https://www.youtube.com/watch?v=HQopEEurQYE */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; /*Retire puce des listes*/
  /* border: 0.1px solid red; */
}

/* *************** SETTINGS DE BASE *************************** */
html {
  scroll-behavior: smooth;
  /* https://www.youtube.com/watch?v=iGUSTyG-CYw&t=376s */
  scroll-padding-top: var(--scroll-padding, 50px);
}

/* Setup de base */
body {
  font-family: "Poppins", sans-serif;
}

/* *************** DIVs WITH "SECTION" CLASS ****************** */
div.section {
  margin: 0px 10px;
  padding: 0px;
  text-align: justify;
  text-justify: inter-word;
}

/* *************** NAVBAR SETTINGS **************************** */
.navbar {
  /* position: absolute; */ /* Passe Navbar par dessus l'image */
  /* overflow: hidden; */
  background-color: #333;
  padding: 10px 10px; /* GaDr HaBa */
  display: flex; /* Aligne les éléments */
  justify-content: space-between; /* Ecarte les éléments */
  align-items: center; /* Aligne les éléments verticalement */
  width: 100%; /* Sur tte la largeur de l'écran */
  box-sizing: border-box; /* Empêche le débordement hors écran */
  position: sticky; /* https://alvarotrigo.com/blog/sticky-navbar/ */
  top: 0px;
}

.navbar a {
  color: white;
}

.navbar .logo {
  font-size: 2em; /* 2 x plus grand que size actuelle */
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex; /* Aligne ts les balise sur 1 ligne */
}

.navbar .nav-links ul li {
  margin: 0 25px; /* Ajoute 25pixels à Ga et à Dr */
}

/* Set élément actif en rouge */
.navbar .nav-links ul li a.active {
  color: #e31c18;
  font-weight: 600;
}

/* *************** NAVBAR ANIMATIONS - MOUSE OVER ************* */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #e31c18;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e31c18;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* *************** MENU HAMBURGER ANIMATIONS ****************** */
.navbar .menu-hamburger {
  display: none;
  position: relative;
  top: 0px;
  right: 0px;
}

#mobile-menu-icon {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#mobile-menu-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 29px;
  background: #ffffff;
  border-radius: 8px;
  opacity: 1;
  left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#mobile-menu-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu-icon span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu-icon span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#mobile-menu-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -1.5px;
  left: 1px;
  width: 38px;
}

#mobile-menu-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#mobile-menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25.5px;
  left: 1px;
  width: 38px;
}

/* *************** BUTTON BACK TO THE TOP ********************* */
#goToTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place button at X px from page bottom */
  right: 10px; /* Place button at X px from the right */
  z-index: 10; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 30px;
  height: 30px;
  padding: 0px; /* Some padding */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

.social-icons {
  display: none;
}

/* *************** RESPONSIVE BEHAVIOURS ********************** */
@media screen and (max-width: 900px) {
  .navbar {
    /* padding: 0; */
    position: sticky;
    top: 0px;
  }

  .navbar .logo {
    position: relative;
  }

  .navbar .menu-hamburger {
    display: block;
    position: relative;
    z-index: 999;
  }

  .nav-links {
    top: 0; /* Posn absolute décale vers le haut*/
    left: 0; /* Faut donc remettre à 0 Ha et Ga */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* Permet de voir l'élément */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); /* Rendre l'arrière plan flou */
    width: 100%; /* Prendre largeur écran */
    height: 100vh; /* Prendre hauteur écran */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%; /* Cache menu à gauche */
    transition: all 0.5s ease; /* Transition linéaire de 0.5s */
    z-index: 97;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
    z-index: 999;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 12px 0; /* 25px Haba et 0 GaDr */
    font-size: 1.8em; /* 1.8 x taille police actuelle */
  }

  li.social-icons {
    display: block;
    padding-left: 4px;
  }

  a.social-icon {
    zoom: 1.5;
  }

  svg.bi-facebook {
    margin-left: -4px;
  }

  #goToTopButton {
    z-index: -1;
  }
}
