/* https://www.youtube.com/watch?v=HQopEEurQYE */
/* Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; /*Retire puce des listes*/
  /* border: 0.5px solid red; */
  /* background-color: darkgrey; */
}

html {
  scroll-behavior: smooth;
}

/* Setup de base */
body {
  font-family: "Poppins";
}

/* Set header dimensions à 100% page*/
header {
  height: 100vh;
  width: 100vw;
  background-image: url(img/space_01.jpg);
  background-size: cover; /* Couvre l'intégralité de l'écran */
}

.navbar {
  /* Passe Navbar par dessus l'image */
  /* position: absolute; */
  /* overflow: hidden; */
  background-color: #333;
  padding: 10px 10px; /* Décolle NavBar des coins */
  display: flex; /* Aligne les éléments */
  justify-content: space-between; /* Ecarte les éléments */
  align-items: center; /* Aligne les éléments verticalement */
  width: 100%; /* Sur tte la largeur de l'écran */
  box-sizing: border-box; /* Empêche le débordement hors écran */
  /* https://alvarotrigo.com/blog/sticky-navbar/ */
  position: sticky;
  top: 0px;
}

.navbar a {
  color: white;
}

.navbar .logo {
  /* 2 fois plus grand que size actuelle */
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  /* Aligne ts les balise sur 1 ligne */
  display: flex;
}

.navbar .nav-links ul li {
  /* Ajoute 25pixels à Ga et à Dr */
  margin: 0 25px;
}

/* Set élément actif en rouge */
.navbar .nav-links ul li.active a {
  color: brown;
  font-weight: 600;
}

.navbar .menu-hamburger {
  display: none;
  position: relative;
  top: 0px;
  right: 0px;
  /* width: 35px; */
}

#nav-icon4 {
  width: 30px;
  height: 30px;
  position: relative;
  /* position: absolute; */
  /* margin: 50px auto; */
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 29px;
  background: #ffffff;
  border-radius: 8px;
  opacity: 1;
  left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  /* top: 18px; */
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  /* top: 36px; */
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  /* top: 1.5px; */
  /* left: 4.5px; */
  top: -1.5px;
  left: 1px;
  width: 38px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* top: 22.5px; */
  /* left: 4.5px; */
  top: 25.5px;
  left: 1px;
  width: 38px;
}

/* Button to top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 10px; /* Place the button at X px from the bottom of the page */
  right: 10px; /* Place the button at X px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  /* -webkit-background-color: red; */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 30px;
  height: 30px;
  padding: 0px; /* Some padding */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
}

/*
#myBtn:hover {
  background-color: #555; Add a dark-grey background on hover
}
*/

div .section {
  /* width: 100%; */
  /* height: 200px; */
  /* border: 1px solid red; */
  /* background-color: lightgrey; */
  /* position: relative; */
  /* top: 0px; */
  margin: 10px 10px;
  text-align: justify;
  text-justify: inter-word;
}

/* Page content */
.content {
  padding: 16px;
}

/* Responsive */
@media screen and (max-width: 900px) {
  .navbar {
    /* padding: 0; */
    position: sticky;
    top: 0px;
  }

  .navbar .logo {
    /* position: absolute; */
    position: relative;
    /* top: 0px;*/
    /* left: 0px;  */
  }
  .navbar .menu-hamburger {
    display: block;
    position: relative;
    /* top: 0px; */
    /* right: 0px; */
  }

  .nav-links {
    top: 0; /* La psn absolute décale vers le haut*/
    left: 0; /* Faut donc remettre à 0 Ha et Ga */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459); /* Permet de voir l'élément */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); /* Rendre l'arrière plan flou */
    width: 100%; /* Prendre largeur écran */
    height: 100vh; /* Prendre hauteur écran */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%; /* Cache le menu à gauche */
    transition: all 0.5s ease; /* Ajoute translation en 0.35s linéaire*/
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  .navbar .nav-links ul li {
    margin: 25px 0; /* Ajoute 25pixels en Haba et 0 s/ GaDrà Ga et à Dr */
    font-size: 1.2em; /* Agrandir un peu la police */
  }
}
